@font-face {
    font-family: Jacquard12;
    src: url(../font/Jacquard12-Regular.ttf);
}

@font-face {
    font-family: Comic_Sand;
    src: url(../font/DefNotComicSans.ttf);
}

body {
    margin: 0;
    height: 360px;
    width: 640px;
    image-rendering: pixelated;
    background-color: black;
    font-family: Jacquard12;
}

#screen {
    transform-origin: top left;
    transform: scale(4);
    height: 360px;
    width: 640px;
    background-image: url(../img/images/mainMenuBackground.jpg);
    background-repeat: no-repeat;
    background-size: 640px 360px;
    margin-top: 0;
    overflow: hidden;
}

#main-menu-container {
    background-color: #182935;
    width: 160px;
    height: 360px;
    margin-left: 80px;
}

.main-menu-button {
    font-size: 24px;
    display: flex;
    background-color: #FCA173;
    color: #383838;
    margin: 0 16px 16px 16px;
    width: 128px;
    height: 32px;
    align-items: center;
    justify-content: center;
}

.main-menu-button:hover {
    cursor: pointer;
}

#title-main-menu {
    font-size: 42px;
    color: #C7C7C7;
    text-align: center;
    width: 100%;
    height: fit-content;
    padding-top: 13px;
    margin-bottom: 21px;
}

#level-select-container {
    margin: auto;
    margin-bottom: 88px;
    margin-top: 88px;
    height: 184px;
    width: 600px;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #182935;
}

.level-preview-container {
    background-color: #FCA173;
    width: 160px;
    height: 90px;
    margin: 20px;
}

.level-button-container {
    background-color: #F68031;
    width: 128px;
    height: 32px;
    margin: 0 auto 20px auto;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #383838;
}

.level-button-container:hover {
    cursor: pointer;
}

#player {
    background-color: red;
    height: 32px;
    width: 32px;
    position: absolute;
    left: 304px;
    bottom: 164px;
}

#world {
    background-image: url(../img/wallpaper1.jpg);
    width: 3840px;
    height: 2160px;
    position: absolute;
    left: 304px;
    bottom: 164px;
}

/*Fremdcode Start*/
/*Ello i bims, de lara*/
/*Fremdcode Ende*/