#Player {
    position: absolute;
    transform-origin: center;
    transform: scale(1);
    display: flex;
    top: 50vh;
    left: 50vw;
    width: 5vh;
    height: 5vh;
    z-index: 999;
    justify-content: center;
    align-items: center;
}

#PlayerHead {
    background-color: red;
    width: 100%;
    height: 100%;
    transform-origin: center;
}

#Map {
    background-image: url(../img/testBackground2.jpg);
    background-repeat: repeat;
    background-size: 10%;
    width: 100000px;
    height: 100000px;
    position: absolute;
    transform-origin: center;
    top: 0px;
    right: 0px;
    z-index: -1;
}

body {
    overflow: hidden;
}